body {
    font-size: 13px;
    font-family: Tahoma, sans-serif;
}

.container {
    width: 960px;
    margin: 40px auto;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    display: table;
    padding: 20px 30px;
}

a {
    color: #086fa6;
    text-decoration: none;
}

a:hover {
    color: #37beee;
}

.date:hover {
    border-bottom: 1px dashed #086fa6;
}

.heading {
    display: table-row;
}

.heading h2 {
    float: left;
    margin-top: 0;
    line-height: 1;
    font-weight: normal;
}

.archive {
    float: right;
    color: #444444;
}

.news-item {
    display: inline-block;
    -moz-column-width: 310px;
    margin-bottom: 10px;
    vertical-align: top;
}

.news-item a {
    line-height: 18px;
}

.news-text {
    margin-top: 0;
}

.news-item .description:hover,
.full-arch:hover {
    text-decoration: underline;
}

img {
    float: left;
    margin-right: 15px;
}

.day {
    display: block;
    color: #444444;
    padding-top: 5px;
}

.paginator {
    display: table;
    margin: 20px auto 0;
}

.paginator ul {
    list-style: none;
    margin: 0;
}

.paginator li {
    display: inline-block;
    padding: 0 4px;
}

.paginator .active {
    color: #fff;
    background-color: #37beee;
    border-radius: 50%;
}